*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
    color: black;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
/*Animation of h1 styling*/
@keyframes title{
    33%{
        transform: translateY(15px);
        color: black;
    }
    66%{
        transform: translateY(-7.5px);
        color: #1b1b1b;
    }
    100%{
        transform: translateY(-7.5px);
        color: crimson;
    }
}

.title{
    text-align: center;
    font-family: Verdana, monospace;
    letter-spacing: 3.5px;
    animation-name: title;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-delay: 5.43s;
    animation-iteration-count: infinite;
}
.title strong:first-of-type{
    color: red;
}
.title strong:nth-of-type(2){
    color: black;
}
.title strong:nth-of-type(3){
    color: firebrick;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.pageOne{
    position: absolute;
    top: 120px;
    left: 50px;
    background-color: #aa9fff;
    width: 620px;
    height: 545px;
    color: black;
    overflow: hidden;
    border-radius: 30px;
}
.haiku{
    font-family: 'Dancing Script', Times, serif;
    font-size: 25px;
    margin-left: 15px;
}
.poem{
    font-size: 25px;
    text-align: center;
}
.collage{
    position: absolute;
    top: 120px;
    left: 681px;
    width: 800px;
    height: 545px;
    overflow: hidden;
}
.mother.a{
    width: 510px;
    position: absolute;
    top: 0;
    left: 0;
    height: 545px;
    border-radius: 50px;
    cursor: none;
}
